/* 
 * This file (custom.css) is the css file that 
 * handles any overrides you want to do with
 * joomla or the bootstrap css files.
 * ---------------------------------------- */

body {
padding-top:40px;
padding-left: 10px;
padding-right: 10px;
}
/* Labels Red Dark */
.label-red-dark {
  background-color: #b94a48;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-red-dark[href] {
  background-color: #953b39;
   color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Red Medium */
.label-red-medium {
  background-color: #DB5856;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-red-medium [href]{
  background-color: #B34746;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Red Light */
.label-red-light{
  background-color: #F76663;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-red-light[href] {
  background-color: #D45755;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* End Red */

/* Label Orange Dark */
.label-orange-dark {
  background-color: #f89406;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-orange-dark[href] {
  background-color: #c67605;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Orange Medium */
.label-orange-medium {
  background-color: #FAA52D;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-orange-medium[href] {
  background-color: #CC8725;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Orange Light */
.label-orange-light {
  background-color: #FAB85A;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-orange-light[href] {
  background-color: #CC974B;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* End Orange */

/* Label Green Dark */
.label-green-dark {
  background-color: #468847;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-green-dark[href] {
  background-color: #356635;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Green Medium */
.label-green-medium {
  background-color: #63BA64;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-green-medium[href] {
  background-color: #4E914F;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Green Light */
.label-green-light {
  background-color: #7FEB80;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-green-light[href] {
  background-color: #63B864;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* End Green */

/* Label Blue Dark */
.label-blue-dark {
  background-color: #3a87ad;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-blue-dark[href] {
  background-color: #2d6987;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Blue Medium */
.label-blue-medium {
  background-color: #48A5D4;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-blue-medium[href] {
  background-color: #3882A6;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Blue Light */
.label-blue-light {
  background-color: #57C2F7;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-blue-light[href] {
  background-color: #479BC4;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* End Blue */

/* Label Black Dark */
.label-black-dark {
  background-color: #333333;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-black-dark[href] {
  background-color: #1a1a1a;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Black Medium */
.label-black-medium {
  background-color: #636363;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-black-medium[href] {
  background-color: #454444;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* Label Black Light */
.label-black-light {
  background-color: #8C8C8C;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
.label-black-light[href] {
  background-color: #696969;
  color: #fff;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	text-shadow: none;
	white-space: nowrap;
	vertical-align: baseline;
}
/* End Black */
div#SobiPro {
width: 100% !important;
}
a {
color:#165387;
}
div.alert.alert-success {
color: #3a87ad;
background-color: transparent;
border-color: #3a87ad;
}
.navbar .nav > li > a,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
color:#fff;
text-decoration: none;
background-color: transparent;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.navbar .nav > li > a:hover {
color:#fff;
}
.container-fluid { 
max-width:1170px; 
margin:0 auto; 
padding-left:0; 
padding-right:0; 
}
div#above-content.row-fluid div.moduletable div.custom {
background: #fff;
padding: 10px;
}
div.footer-bg1 {
margin-top:10px;
background-color: #205d91;
}
div.footer-bg1 footer.container-fluid.footer1 div.custom {
background-color: #205d91;
}
div.footer-bg1 footer.container-fluid div.moduletable div.module-block div.module-content div.custom div.row-fluid div.span2 h2,
div.footer-bg1 footer.container-fluid div.moduletable div.module-block div.module-content div.custom div.row-fluid div.span3 h2 {
color:#fff;
}
div#below.row-fluid div.moduletable div.module-block div.module-content div.custom div.row-fluid div.span2 a img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray;
    -webkit-filter: grayscale(100%); 
    -webkit-transition: all .9s ease; 
    -webkit-backface-visibility: hidden;  
} 
div#below.row-fluid div.moduletable div.module-block div.module-content div.custom div.row-fluid div.span2 a:hover img{
filter: none;
-webkit-filter: grayscale(0%);
}
div.nav-logo {
float:left;
padding-right: 30px;
}
div.nav-logo div.moduletable.no-bg {
margin-bottom:0;
}
div.nav-logo div.moduletable.no-bg div.custom {
padding-bottom: 0;
}
div.nav-collapse {
padding-top: 7px;
}
.btn-navbar {
margin-top: 15px !important;
}
.navbar .nav {
margin-right:0;
}
ul.nav.pull-right li.dropdown a.dropdown-toggle{
padding-top: 7px;
}
li.divider-vertical {
display:none;
}
div.footer-bg,
div.footer-bg footer.container-fluid div.custom {
background-color: #165387;
}

.footer p {
color:#fff;
font-size: 12px;
}
.footer p a,
.footer1 p a {
color:#fff;
}
.footer p a:hover,
.footer1 p a:hover {
color:#ccc;
}
div#top.row-fluid div.moduletable.no-bg div.custom p,
div#top.row-fluid div.moduletable.no-bg div.custom,
div#top.row-fluid div.moduletable.no-bg {
padding-bottom:0px;
margin-bottom:0px;
}
div.mac-header {
background: url('../images/mac_header_hollow_ctr1.png') no-repeat;
max-width: 794px;
height: 484px;
clear: both;
background-size: contain;
margin-left: auto;
margin-right: auto;
}
div.mac-header div#myCarousel.carousel.slide {
max-width: 575px;
margin-left: auto;
margin-right: auto; 
margin-top: 40px;
padding-left: 5px; 
}
div.mac-header div#myCarousel.carousel.slide div.carousel-inner div.item {
padding-top:39px;
}
div.mac-header div#myCarousel.carousel.slide a.left.carousel-control,
div.mac-header div#myCarousel.carousel.slide a.right.carousel-control {
top:55%;
}
h4 {
font-size: 16px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
margin-right: 0px;
margin-left: 0px;
}
div#dm_docs div.dm_row div.dm_taskbar ul li a.modal {
display:none !important;
}
div.moduletable.nowell div.custom {
background: none;
border-radius: 5px 5px 5px 5px;
padding: 10px;
}
div.moduletable.nowell {
margin-bottom:0px !important;
}
h3,h1 {
font-size: 20px;
line-height: 25px;
}
h2 {
font-size: 20px;
line-height: 25px;
color:#999;
}
h2 span {
color:#165387;
}
/*div.btp-list div.btp-item div.btp-item-image a img {
height:235px !important;
}*/
.footer {
padding:0px;
background-color:#165387;
z-index:1;
border-top: none;
}
.label-joomla25,
.badge-joomla25 {
  background-color: #905dae;
}

.label-joomla25[href],
.badge-success[href] {
  background-color: #6040a0;
}

.label-joomla30,
.badge-joomla30 {
  background-color: #136AA5;
}

.label-joomla30[href],
.badge-joomla30[href] {
  background-color: #136AA5;
}
a.jcepopup img {
height:auto !important;
padding-bottom:10px;
}
.form-search input {
width:200px;
}

.ccc-inner h2 {
padding-bottom:0px !important;
}

.btn-primary, 
.btn-primary:hover, 
.btn-warning, 
.btn-warning:hover, 
.btn-danger, 
.btn-danger:hover, 
.btn-success, 
.btn-success:hover, 
.btn-info, 
.btn-info:hover {
margin-bottom:1px;
}
.btn-primary,
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#165387), to(#1e71b8));
  background-image: -webkit-linear-gradient(top, #165387, #1e71b8);
  background-image: -o-linear-gradient(top, #165387, #1e71b8);
  background-image: linear-gradient(to bottom, #165387, #1e71b8);
  background-image: -moz-linear-gradient(top, #165387, #1e71b8);
  background-repeat: repeat-x;
  border-color: #1e71b8 #1e71b8 #165387;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#165387', endColorstr='#1e71b8', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #1e71b8;
  *background-color: #165387;
}
li.rsform-block div.formCaption {
padding-bottom:10px;
}

div.span3 ul.the-icons {
list-style: none;
}
ul.nav li ul {
list-style:none;
}
.page-header {
border-bottom:none !important;
padding-bottom:5px !important;
margin:0px !important;
}
#map_canvas img{
max-width:none;
}
#login-dropdown {
  width: 250px;
  padding: 10px;
}
#login-dropdown .input-prepend {
  margin-left: 10px;
}
div.login-remember {
  padding: 5px;
}
.navbar .nav.pull-right {
/*float: left !important;*/
margin-left: 0 !important;
margin-right: 0 !important;
padding-top:2px;
}
div.moduletable.grey-border div.custom {
border: solid 1px #DDDDDD;
border-radius: 5px 5px 5px 5px;
padding:10px;
background:none;
}
.popular div.custom {
background:#5BB75B;
}
.popular2 div.custom {
background:#04C;
}
div.moduletable.no-bg div.custom {
background:none;
}
div.moduletable.no-bg {
background:none;
margin-bottom:5px;
}

div.moduletable.label.label-info h3 {
color:#fff;
}
div.moduletable.label.label-info div.custom {
background:none;
}
div.container div#content div#main.row div.search {
padding-left:0px;
}
div#top.row div.moduletable div.custom {
background:none;
/*padding:0 0 0 30px;*/
}
div.navbar-inner div.container div.search {
float: right;
height: 28px;
padding-top: 8px;
}
.brand > i {
  margin-top:5px;
  margin-right:5px;
}
.logo {
  margin:0;
  padding:0;
}
.logo-tagline {
  margin-left:10px;
  font-size:0.8em;
}
.image {
  margin:0;
}
.image > .brand {
  text-indent:-9999px;
  display:block;
  padding:0;
}
.navbar-fixed-top {
  z-index:9999;
}
#header {
  padding:20px 0;
  border-bottom:1px solid #ddd;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.subhead {

}
#above{
  padding:0 0 20px 0;
  border-bottom:1px solid #ddd;
}
#top{

}
#content,
#sidebar,
#sidebar-2 {

  padding:10px 0;
}
#below {

}


/* Module Spacing */
#content .moduletable,
#sidebar .moduletable,
#sidebar-2 .moduletable {
  margin-bottom:18px;
}


/* Enhanced typography */
dt {
  font-size: 105%;
  margin-bottom: .5em;
}
dd {
  margin-left: 2em;
  margin-bottom: 1em;
}
/* Template Demo */
.custom {
  background:transparent;
  padding:2px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
body.item-524 .navbar .custom {
  display:inline-block;
  padding:5px;
  margin:5px 0 0 10px;
}
body.item-524 .navbar .custom p {
  margin:0;
}
body.item-524 #header .custom {
  margin-bottom:10px;
}
body.item-524 #header .custom p {
  margin:0;
}
body.item-524 #breadcrumbs .custom ul {
  margin-bottom:0;
}
body.item-525 #below .custom {
  background:#eee;
  padding:10px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Used for responsive page */
.resize {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background: url(../images/resize.png); 
}
/* added to manually remove span left margin */
.row-fluid .first {
  margin-left: 0 !important;
}
div#sidebar-2.span3 div.moduletable.no-bg.sale {
background:none;
margin-bottom:0px;
}
.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
background-image:url("../images/glyphicons-halflings.png");
}
/*Media Query Overrides Here*/
@media (min-width: 768px) and (max-width: 979px) {
body {padding-top: 0px;padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 767px) {
body {padding-top: 0px;padding-left: 10px;padding-right: 10px;}

}
@media (min-width: 1200px) {
body {padding-top: 40px;padding-left: 10px;padding-right: 10px;}
}
@media (min-width: 768px) and (max-width: 979px) {
body {padding-top: 0px;padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 480px) {
body {padding-top: 0px;padding-left: 10px;padding-right: 10px;}
div.navbar-inner {padding:0 10px;}
}
@media (max-width: 979px) {
body {padding-top: 0px;padding-left: 10px;padding-right: 10px;}
div.mac-header div#myCarousel.carousel.slide {
max-width: 540px;
margin-left: auto;
margin-right: auto; 
margin-top: 36px;
padding-left: 5px; 
}
}
@media (min-width: 980px) {
body {padding-top: 40px;padding-left: 10px;padding-right: 10px;}
}
