
* {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#expandy {
list-style: none;
padding: 0;
margin: 0;
position: relative;
overflow: hidden;
width: 1000px;
height: 240px;
}
#expandy li {
float: left;
position: relative;
margin: 0;
width: 100px;
height: 240px;
overflow: hidden;
cursor: pointer;
-moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}
#expandy li a {
display: block;
color: #fff;
text-decoration: none;
height: 240px;
position: relative;
text-shadow: -1px -1px 0px #666;
filter: dropshadow(color=#666, offx=-1, offy=-1);
}
#expandy li h2 {
font-size: 14px;
margin: 0;
width: 800px;
overflow: hidden;
position: absolute;
bottom: 30px;
left: 30px;
}
#expandy li p {
width: 800px;
font-size: 14px;
margin: 0;
position: absolute;
top: 30px;
left: 30px;
}
#expandy li.first {
background: #500;
}
#expandy li.second {
background: #800;
}
#expandy li.third {
background: #b00;
}
#expandy li.fourth {
background: #e00;
}
#expandy li.fifth {
background: #f22;
}
#expandy li.sixth {
background: #f55;
}
#expandy li:hover.first {
background: #600;
}
#expandy li:hover.second {
background: #900;
}
#expandy li:hover.third {
background: #c00;
}
#expandy li:hover.fourth {
background: #f00;
}
#expandy li:hover.fifth {
background: #f33;
}
#expandy li:hover.sixth {
background: #f66;
}
#info {
background: #fff;
color: #666;
padding: 10px;
font-size: 18px;
}
#info a {
text-decoration: none;
color: #c00;
}
#info a:hover {
color: #e00;
}
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }
p a {
color: #fff;
} 
